body {
  background: linear-gradient(90deg, rgba(183, 218, 240, 1), rgba(71, 255, 83, 0.34));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  position: relative;
  min-height: 100%;
}