body {
  background-color: #c0c2be;
  opacity: 0.4;
  background-image: radial-gradient(circle at center center, #efefef, #e0f9d1), repeating-radial-gradient(circle at center center, #efefef, #efefef, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  position: relative;
  min-height: 100%;
}