.textBoxStyle {
    border: rgb(1, 31, 1);
    border-style: solid;
    height: 3rem;
    background-color: lemonchiffon;
    font-size: 2rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.btn {
    background-color: rgb(17, 3, 1);
    font-weight: bold;
}

.songList {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    text-align: center;
}